* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
    color: #333;
}

.wrapper {
    width: 320px;
    height: 558px;
    background: #141415;
    transition: background 0.5s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;

}

.wrapper .profile {
    margin-top: 2.2em;
    position: relative;
}

.wrapper .profile::after {
    width: 100%;
    height: 1px;
    content: "";
    display: block;
    margin-top: 1.3rem;
    background: #e9eff7;
}

.wrapper .profile .check {
    position: absolute;
    right: 5em;
    bottom: 15.7em;
}

.wrapper .profile .check i {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #c90a7d, #ff48a0);
}

.wrapper .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    border: 3px solid white;
    padding: 7px;
}

.wrapper .profile .name {
    color: #2d254a;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper .profile .title {
    color: #dcd4fc;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.wrapper .profile .description {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 1.3em;
}

.wrapper .profile .btn {
    color: white;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    border: 2px solid white;
}

.wrapper .social-icons{
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
}
 .wrapper .social-icons .icon {
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .wrapper .social-icons .icon a {
     color: white;
     width: 59px;
     height: 59px;
     font-size: 28px;
     line-height: 59px;
     text-align: center;
     border-radius: 30px;
 }

